.universe {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.lifeSvg {
    z-index: 100;
}

.spaceSvg {
    top: 0;
}

.spaceSvg, .lifeSvg{
    width: 100%;
    height: 100%;
    position: relative;;
    left: 0;
}
